*{
    margin: 0;
    padding: 0;
}

*, *::after , *::before{
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    padding: 30px 0px;
    justify-content: center;
    background-color: hsl(226, 43%, 10%);
    width: 100%;
    /* height: 50vh; */
    display: grid;
    grid-template-columns: repeat(4,200px);
    grid-template-rows: repeat(2,200px);
    gap: 30px;
    font-family:  "Rubik", sans-serif;
}

.home{
    background-color:  hsl(235, 46%, 20%);
    grid-row: 1/3;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.profile{
    grid-row: 1/3;
    background-color: hsl(246, 80%, 60%);
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content:;
}

.profile-img{
}

.profile-img img{
    border-radius: 50%;
    width: 70px;
    border: 2px solid white;
}

.profile-detail{
    margin-top: 30px;
}

.profile-sub-head{
    color:hsl(236, 100%, 87%) ;
    font-size: small;
    font-weight: 300;

}

.profile-head{
    color:#fff ;
    font-weight: 300;
    font-size: 30px;
}


.profile-menu{
    color: hsl(236, 100%, 87%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 25px;
    font-weight: 300;
}


li{
    align-self: flex-start;
    list-style: none;
}

li:hover{
    color: white;
    list-style: none;
    cursor: pointer;
}

svg{
    position: absolute;
    z-index: 2;
    right: 10px;
}
.card{
    position: relative;
    border-radius: 10px ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
}

.card-detail{
    bottom: -1px;
    position: absolute;
    align-self: flex-end;
    background-color: hsl(235, 46%, 20%);
    height: 79%;
    width: 101%;
    border-radius: 10px;
    z-index: 3;
    transition: background-color .3s;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-detail:hover{
    background-color: hsl(235, 30%, 44%);
}

.card-top{
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: 300;
    font-size: small;
}

.menu-btn{
    position: relative !important;
}

.menu-btn:hover {
    cursor: pointer;
}

.menu-btn:hover path {
    fill: #fff;
}

.card-middle{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
    color: hsl(0, 0%, 100%);
    font-size: 45px;
    /* border: 2px solid mediumvioletred; */
}
.card-bottom{
    font-size: 12px;
    font-weight: 300;
    color: hsl(236, 100%, 87%);
    /* border: 2px solid mediumturquoise; */
    margin-bottom: 10px;
}

.work{
    background-color: hsl(15, 100%, 70%);
}

.play{
    background-color:hsl(195, 74%, 62%) ;
}
.study{
    background-color: hsl(348, 100%, 68%);
}
.excercise{
    background-color: hsl(145, 58%, 55%);
}
.social{
    background-color: hsl(264, 64%, 52%);
}
.selfcare{
    background-color: hsl(43, 84%, 65%);
}

@media (max-width:979px){
    .container{
        padding: 30px 0px;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3,200px);
        grid-template-rows: repeat(3,200px);
        gap: 30px;
    }

    .home{
        background-color:  hsl(235, 46%, 20%);
        grid-row: 1/4;
        border-radius: 10px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .profile{
        grid-row: 1/4;
        background-color: hsl(246, 80%, 60%);
        border-radius: 10px;
        padding: 25px;
        display: flex;
        flex-direction: column;
    }

    .profile-menu{
        color: hsl(236, 100%, 87%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 50px 25px;
        font-weight: 300;
        grid-row: 4/6;

    }
    
}

@media (max-width:692px){
    .container{
        padding: 30px 0px;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(2,200px);
        grid-template-rows: repeat(4,200px);
        gap: 30px;
    }

    .home{
        background-color:  hsl(235, 46%, 20%);
        grid-row: 1/3;
        border-radius: 10px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .profile{
        grid-row: 1/3;
        background-color: hsl(246, 80%, 60%);
        border-radius: 10px;
        padding: 25px;
        display: flex;
        flex-direction: column;
    }

    .profile-menu{
        color: hsl(236, 100%, 87%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px 25px;
        font-weight: 300;
        grid-row: 3/4;

    }
    
}

@media (max-width:450px){
    .container{
        padding: 30px 0px;
        justify-content: center;
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: 200px repeat(6,150px);
        gap: 30px;
    }

    .home{
        background-color:  hsl(235, 46%, 20%);
        grid-row: 1/2;
        border-radius: 10px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .profile{
        grid-row: 1/3;
        background-color: hsl(246, 80%, 60%);
        border-radius: 10px;
        padding: 20px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
       gap: 20px;
    }

    .profile-menu{
        color: hsl(236, 100%, 87%);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px;
        font-weight: 300;
        grid-row: 3/4;

    }

    .profile-detail{
        align-self: flex-start;
        margin-top: 0px;
       
    }

    .card-main{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .card-middle{
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 300;
        color: hsl(0, 0%, 100%);
        font-size: 30px;
    }
    .card-bottom{
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 300;
        color: hsl(236, 100%, 87%);
        margin-bottom: 0px;
    }
    
}

@media (max-width:270px){
    .container{
        padding: 30px 0px;
        justify-content: center;
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 200px repeat(6,150px);
        gap: 30px;
    }

    .profile{
        grid-row: 1/3;
        background-color: hsl(246, 80%, 60%);
        border-radius: 10px;
        padding: 20px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
       gap: 10px;
    }

    .profile-menu{
        color: hsl(236, 100%, 87%);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        font-weight: 300;
        grid-row: 3/4;

    }

    .profile-head{
        font-size: 25px;
    }

    .profile-detail{
        align-self: flex-start;
        margin-top: 0px;
       
    }

    .card-main{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .card-middle{
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 300;
        color: hsl(0, 0%, 100%);
        font-size: 30px;
    }
    .card-bottom{
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 300;
        color: hsl(236, 100%, 87%);
        margin-bottom: 0px;
    }
    
}

@media (max-width:200px){
    .container{
        padding: 30px 0px;
        grid-template-columns: 95%;
        gap: 30px;
    }

    .profile{
        padding: 20px 0px;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .profile-menu{
        padding: 20px 5px;

    }
.profile-detail{
    margin-top: 15px !important;
}

    .profile-head{
        font-size: 20px;
    }


    
}